<div class="container mt-3">
  <div class="card shadow-sm addercards">
    <div class="card-header bg-warning text-white">
      <h2 class="mb-0">Add Room</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="addRoom()">
        <div class="form-group">
          <label for="roomName">Room Name:</label>
          <input class="form-control" type="text" id="roomName" [(ngModel)]="room.name" name="roomName" required>
        </div>
        <div class="form-group">
          <label for="roomDescription">Description:</label>
          <textarea class="form-control" id="roomDescription" [(ngModel)]="room.description" name="roomDescription" rows="1"></textarea>
        </div>
        <div class="form-group">
          <label for="roomPrice">Price:</label>
          <input class="form-control" type="number" id="roomPrice" [(ngModel)]="room.price" name="roomPrice" required>
        </div>

        <!-- Room Images -->
        <div class="form-group">
          <label for="roomImages">Room Images:</label>
          <input class="form-control" type="file" id="roomImages" (change)="onRoomImagesSelected($event)" name="roomImages" multiple required>
        </div>

        <div class="text-center mt-4">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <button class="btn btn-warning btn-block" type="submit">Save</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-secondary btn-block" type="button" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
