<h2>Login</h2>
<form (ngSubmit)="login()" #loginForm="ngForm">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" required [(ngModel)]="credentials.username" name="username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" required [(ngModel)]="credentials.password" name="password" />
  </div>
  <div>
    <label for="rememberMe">Remember me></label>
    <input type="checkbox" id="rememberMe" required [(ngModel)]="credentials.rememberMe" name="rememberMe" />
  </div>
  <button type="submit">Login</button>
</form>
