<!--<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!hotels"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>-->
<!--<table *ngIf="hotels">
  <thead>
    <tr>
      <th>Hotel Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of hotels">
      <td>{{ hotel.hotelName }}</td>
    </tr>
  </tbody>
</table>-->

<div class="container">

  <nav class="navbar navbar-light bg-light justify-content-between p-2 fixed-top">
    <a routerLink="/" class="navbar-brand text-warning">Qvooker</a>
    <div style="float:right">
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/register">Register</a>
      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</a>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
  
</div>
