<div class="mt-4">
  <div *ngIf="userInfo" class="card shadow-sm rounded border-0 bg-light">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Your Profile | {{ userInfo.username }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Personal Information -->
        <div class="col-md-8">
          <h3 class="text-primary">Personal Information</h3>
          <table class="table table-hover mt-3">
            <tbody>
              <tr>
                <th>Name:</th>
                <td>{{ userInfo.name }}</td>
              </tr>
              <tr>
                <th>Last Name:</th>
                <td>{{ userInfo.lastName }}</td>
              </tr>
              <tr>
                <th>Username:</th>
                <td>{{ userInfo.username }}</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ userInfo.email }}</td>
              </tr>
              <tr>
                <th>Phone Number:</th>
                <td>{{ userInfo.phoneNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Booked Rooms -->
        <div class="col-md-4">
          <h3 class="text-primary">Booked Rooms</h3>
          <div *ngIf="userInfo.bookedRooms.length; else noRooms">
            <div *ngFor="let room of userInfo.bookedRooms" class="card mt-3">
              <div class="card-header bg-secondary text-white">
                <h4 class="mb-0">{{ room.name }}</h4>
              </div>
              <div class="card-body bg-light">
                <p>{{ room.description }}</p>
                <p><strong>Price:</strong> ${{ room.price }}</p>
                <p><strong>Address:</strong></p>
                <ul class="list-unstyled">
                  <li *ngFor="let address of room.hotelAddresses">
                    {{ address.street }}, {{ address.city }}, {{ address.country }}
                  </li>
                </ul>
                <button class="btn btn-warning mt-2" (click)="viewRoom(room.hotelId)">View Room</button>
              </div>
            </div>
          </div>
          <ng-template #noRooms>
            <p class="mt-3">No booked rooms available.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
