<div class="container mt-3">
  <div class="container mt-3" [formGroup]="searchForm">
    <div class="row mb-3" [formGroup]="searchForm">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Hotel Name" formControlName="hotelName">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Country" formControlName="country">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="City" formControlName="city">
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control" placeholder="Stars" formControlName="stars" min="0" max="5">
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control" placeholder="Rooms" formControlName="rooms" min="0">
      </div>
    </div>
  </div>

  <div class="row mt-1 p-2">
    <div class="col-md-12 card-deck row">
      <div class="p-2 col-md-4 card border-0 flex-fill" *ngFor="let hotel of filteredHotels">
        <div class="card-header p-3 mt-2 rounded-2">
          <h4 class="hotelTitle title text-info text-start d-inline">{{ hotel.hotelName }}</h4>
          <div class="stars">
            <span class="fa fa-star" *ngFor="let index of [0,1,2,3,4]" [class.fa-star-o]="index >= hotel.stars"></span>
          </div>
        </div>
        <hr />
        <div class="card-body bg-secondary p-2 rounded-2 text-white text-start rounded-bottom-0">
          <p>Room amount: {{ hotel.rooms.length }}</p>
          <strong>Addresses: </strong>
          <div *ngFor="let address of hotel.hotelAdresses">
            <strong>{{ address.country }}/{{ address.city }}/{{ address.street }}</strong>
          </div>
          <hr />
        </div>
        <div class="card-footer bg-secondary">
          <button class="btn btn-outline-light btn-lg btn-block" (click)="viewHotelDetails(hotel.hotelId)"><strong>View Details</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
