<div *ngIf="hotel" class="container mt-5">
  <div class="card shadow-sm rounded border-0">
    <div class="card-header bg-info text-white">
      <h2 class="hotelTitle">{{ hotel.hotelName }}</h2>
      <div class="stars mb-2">
        <span class="fa fa-star" *ngFor="let index of [0,1,2,3,4]" [class.fa-star-o]="index >= hotel.stars"></span>
      </div>
      <p class="address mb-0"><strong>Address:</strong></p>
      <ul class="list-unstyled">
        <li *ngFor="let address of hotel.hotelAdresses">{{ address.street }}, {{ address.city }}, {{ address.country }}</li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="mb-4">Rooms</h3>
      <div *ngFor="let room of hotel.rooms" class="room-card mb-3">
        <div class="card shadow-sm rounded border-0">
          <div class="card-header bg-secondary text-white">
            <h4>{{ room.name }}</h4>
          </div>
          <div class="card-body">
            <p>{{ room.description }}</p>
            <p class="price mb-2">Price: ${{ room.price }}</p>
            <button (click)="selectRoom(room)" class="btn btn-outline-info btn-lg">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Booking Modal -->
<div *ngIf="selectedRoom" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" [ngStyle]="modalStyle">
      <div class="modal-header row" (mousedown)="startDrag($event)" (document:mousemove)="drag($event)" (document:mouseup)="stopDrag()">
        <div class="col-md-4">
          <h5 class="modal-title prevent-select ">{{ selectedRoom.name }}</h5>
        </div>
        <div class="col-md-4">
          <p class="prevent-select ">(you can drag me.)</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger close" style="float:right;" type="button" aria-label="Close" (click)="cancelBooking()">
            <span class="prevent-select " aria-hidden="true">&times;</span>
          </button>
        </div>

        


      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Start Date:</label>
          <input type="date" class="form-control" [(ngModel)]="startDate">
        </div>
        <div class="form-group">
          <label>End Date:</label>
          <input type="date" class="form-control" [(ngModel)]="endDate">
        </div>
        <p *ngIf="totalCost !== null">Total Cost: ${{ totalCost }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="calculateTotalCost()">Calculate Cost</button>
        <button type="button" class="btn btn-primary" (click)="confirmBooking()">Confirm Booking</button>
        <button type="button" class="btn btn-secondary" (click)="cancelBooking()">Cancel</button>
      </div>
    </div>
  </div>
</div>
