.carousel-container {
  max-height: 450px;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset; /* Adjust shadow properties */
}

.carousel-control-prev,
.carousel-control-next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 15%;
}

.carousel-control-next {
  left: unset;
  right: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* Adjust shadow for the right control button */
.carousel-control-next {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
