<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h2>Add Hotel</h2>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="AddHotel()">
            <div class="form-group">
              <label for="hotelName">Hotel Name:</label>
              <input class="form-control" type="text" id="hotelName" [(ngModel)]="hotel.hotelName" name="hotelName" required>
            </div>
            <div class="form-group">
              <label for="stars">Stars:</label>
              <input class="form-control" type="number" id="stars" [(ngModel)]="hotel.stars" name="stars" required>
            </div>

            <!-- Hotel Images -->
            <div class="form-group">
              <label for="hotelImages">Hotel Images:</label>
              <input class="form-control" type="file" id="hotelImages" [(ngModel)]="hotel.hotelImages" (change)="onHotelImagesSelected($event)" name="hotelImages" multiple required>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h4>Addresses</h4>
                <app-add-adress class="addercards" *ngIf="showAdressForm" (adressAdded)="onAdressAdded($event)"></app-add-adress>
                <button *ngIf="!showAdressForm" class="btn btn-info mb-1" type="button" (click)="showAdressForm = true">Add Address</button>
              </div>

              <div class="col-md-6">
                <h4>Rooms</h4>
                <app-add-room class="addercards" *ngIf="showRoomForm" (roomAdded)="onRoomAdded($event)"></app-add-room>
                <button *ngIf="!showRoomForm" class="btn btn-warning mb-1" type="button" (click)="showRoomForm = true">Add Room</button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h5>Added Addresses</h5>
                <ul class="list-group mb-3">
                  <li class="list-group-item list-group-item-info" *ngFor="let address of addedAddress; let i = index">
                    {{ address.street }}, {{ address.city }}, {{ address.country }}
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5>Added Rooms</h5>
                <ul class="list-group mb-3">
                  <li class="list-group-item list-group-item-warning" *ngFor="let room of addedRooms">
                    {{ room.name }} - {{ room.description }} (${{ room.price }})
                  </li>
                </ul>
              </div>
            </div>

            <div class="text-center mt-4">
              <button class="btn btn-primary btn-lg" type="submit">Save Hotel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
