@font-face {
  font-family: MainFont;
  src: url("/assets/Media/Fonts/Oswald-VariableFont_wght.ttf");
}

body {
  background-color: #1c1c1c!important;
}

.navbar {
  box-shadow: 0 4px 6px -6px #222;
}

.stars .fa-star, .stars .fa-star-o {
  color: #ffc107;
}

.address {
  font-style: italic;
  color: #6c757d;
}

.room-card .card {
  margin-bottom: 1.5rem;
}

.hotelTitle {
  font-family:MainFont ;
}

h1.title, h2.title {
  text-transform: uppercase;
}
